/* Mobile */
.dashboard {
  padding-left: 5%;
  padding-right: 5%;
}

/* Tablet */
@media (min-width: 1148px) {
  .dashboard {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Desktop */
@media (min-width: 1700px) {
  .dashboard {
    padding-left: 15%;
    padding-right: 15%;
  }
}
