.stats-container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  justify-content: center; /* Center horizontally */
  align-content: center; /* Center vertically, works if the container has a defined height */
  height: 100%; /* Adjust based on your specific needs */
  width: 100%; /* Adjust based on your specific needs */
  container-name: stats;
  container-type: inline-size;
  padding: 10px;
}
.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%; /* or a specific height, depending on your design */
}

.stat-item {
  color: #cacaca;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.stat-item h2 {
  margin: 0;
  font-size: 1em;
  font-size: 1.5vw;
}

.stat-item p {
  margin: 0;
  color: #ffff;
  font-size: 2vw;
  font-weight: bold;
}

/* Make stats header responsive to container
   size in order to prevent overflow. */
@container stats (max-width: 295px) {
  .stat-item h2 {
    font-size: 1em;
  }
}
@container stats (min-width: 300px) {
  .stat-item h2 {
    font-size: min(4vw, 20px);
  }
}
/* Switch stats to 4x1 and back
   to 2x2 on approporiate screens*/
@media (max-width: 928px) {
  .stats-container {
    grid-template-columns: repeat(4, 4fr);
  }
  .stat-item p {
    font-size: min(4vw, 20px);
  }
  .progress-to-jlpt {
    height: 200px;
  }
}
@media (max-width: 670px) {
  .stats-container {
    grid-template-columns: repeat(2, 2fr);
  }
}
