.dashboard {
  gap: 20px;
  padding: 20px;
}
.memory-cards, .progress-wheels{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recently-learned, .progress-to-jlpt, .words-by-memory{
  margin-bottom: 10px;
}

